# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de construcción
dist/
build/
out/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de caché
.cache/
.temp/
.tmp/

# Archivos de logs
logs/
*.log

# Archivos de cobertura
coverage/

# Archivos de configuración local
*.local 